<h1>Prediction COVID-19 Contaction Based on Political Affiliation (and other factors)</h1>
<p>description</p>

<h3>Import dependencies</h3>
<ul>
    <li>pandas - data analysis and visualization</li>
    <li>cleaner - local data-cleaning package for running sql sanitizing
</ul>

In [26]:
import pandas as pd
import numpy as np

import sys
sys.path.insert(0, './cleaner')
import cleaner

ROW_LIMIT = 25

<h2>Analysing Original Data</h2>
<p>description</p>

<h3>COVID-19 cases per county in the U.S.</h3>
<p>description</p>

In [19]:
original_cases = pd.read_csv(cleaner.DIRTY_CASES)
original_cases.head(ROW_LIMIT)

          date       county       state     fips  cases  deaths
0   2020-01-21    Snohomish  Washington  53061.0      1       0
1   2020-01-22    Snohomish  Washington  53061.0      1       0
2   2020-01-23    Snohomish  Washington  53061.0      1       0
3   2020-01-24         Cook    Illinois  17031.0      1       0
4   2020-01-24    Snohomish  Washington  53061.0      1       0
5   2020-01-25       Orange  California   6059.0      1       0
6   2020-01-25         Cook    Illinois  17031.0      1       0
7   2020-01-25    Snohomish  Washington  53061.0      1       0
8   2020-01-26     Maricopa     Arizona   4013.0      1       0
9   2020-01-26  Los Angeles  California   6037.0      1       0
10  2020-01-26       Orange  California   6059.0      1       0
11  2020-01-26         Cook    Illinois  17031.0      1       0
12  2020-01-26    Snohomish  Washington  53061.0      1       0
13  2020-01-27     Maricopa     Arizona   4013.0      1       0
14  2020-01-27  Los Angeles  California   6037.0      1       0
15  2020-01-27       Orange  California   6059.0      1       0
16  2020-01-27         Cook    Illinois  17031.0      1       0
17  2020-01-27    Snohomish  Washington  53061.0      1       0
18  2020-01-28     Maricopa     Arizona   4013.0      1       0
19  2020-01-28  Los Angeles  California   6037.0      1       0
20  2020-01-28       Orange  California   6059.0      1       0
21  2020-01-28         Cook    Illinois  17031.0      1       0
22  2020-01-28    Snohomish  Washington  53061.0      1       0
23  2020-01-29     Maricopa     Arizona   4013.0      1       0
24  2020-01-29  Los Angeles  California   6037.0      1       0

<h3>Political party affiliation by per county in the U.S.</h3>
<p>description</p>

In [30]:
original_party = pd.read_csv(cleaner.DIRTY_PARTY)
original_party.head(25)

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
5,2000,Alabama,AL,Baldwin,1003.0,President,George W. Bush,republican,40872.0,56480,20191203
6,2000,Alabama,AL,Baldwin,1003.0,President,Ralph Nader,green,1033.0,56480,20191203
7,2000,Alabama,AL,Baldwin,1003.0,President,Other,NaN,578.0,56480,20191203
8,2000,Alabama,AL,Barbour,1005.0,President,Al Gore,democrat,5188.0,10395,20191203
9,2000,Alabama,AL,Barbour,1005.0,President,George W. Bush,republican,5096.0,10395,20191203
10,2000,Alabama,AL,Barbour,1005.0,President,Ralph Nader,green,46.0,10395,20191203
11,2000,Alabama,AL,Barbour,1005.0,President,Other,NaN,65.0,10395,20191203
12,2000,Alabama,AL,Bibb,1007.0,President,Al Gore,democrat,2710.0,7101,20191203
13,2000,Alabama,AL,Bibb,1007.0,President,George W. Bush,republican,4273.0,7101,20191203
14,2000,Alabama,AL,Bibb,1007.0,President,Ralph Nader,green,52.0,7101,20191203
15,2000,Alabama,AL,Bibb,1007.0,President,Other,NaN,66.0,7101,20191203
16,2000,Alabama,AL,Blount,1009.0,President,Al Gore,democrat,4977.0,17973,20191203
17,2000,Alabama,AL,Blount,1009.0,President,George W. Bush,republican,12667.0,17973,20191203
18,2000,Alabama,AL,Blount,1009.0,President,Ralph Nader,green,154.0,17973,20191203
19,2000,Alabama,AL,Blount,1009.0,President,Other,NaN,175.0,17973,20191203
20,2000,Alabama,AL,Bullock,1011.0,President,Al Gore,democrat,3395.0,4904,20191203
21,2000,Alabama,AL,Bullock,1011.0,President,George W. Bush,republican,1433.0,4904,20191203
22,2000,Alabama,AL,Bullock,1011.0,President,Ralph Nader,green,24.0,4904,20191203
23,2000,Alabama,AL,Bullock,1011.0,President,Other,NaN,52.0,4904,20191203
24,2000,Alabama,AL,Butler,1013.0,President,Al Gore,democrat,3606.0,7803,20191203

<h3>Population Demographics per county in the U.S.</h3>
<p>description</p>

In [31]:
original_dems = pd.read_csv(cleaner.DIRTY_DEMS)
original_dems.head(25)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1
5,50,1,1,Alabama,Autauga County,1,5,3080,1539,1541,...,62,34,2,4,2,3,0,1,1,1
6,50,1,1,Alabama,Autauga County,1,6,3157,1543,1614,...,54,39,5,3,0,0,2,0,5,2
7,50,1,1,Alabama,Autauga County,1,7,3330,1594,1736,...,56,53,4,6,0,2,0,1,2,1
8,50,1,1,Alabama,Autauga County,1,8,4157,2004,2153,...,50,37,2,4,4,2,0,2,1,2
9,50,1,1,Alabama,Autauga County,1,9,4086,1974,2112,...,47,34,3,1,2,3,0,0,1,1
10,50,1,1,Alabama,Autauga County,1,10,4332,2174,2158,...,27,41,3,5,5,1,1,1,0,0
11,50,1,1,Alabama,Autauga County,1,11,3873,1866,2007,...,21,18,2,2,1,3,0,0,0,0
12,50,1,1,Alabama,Autauga County,1,12,3083,1524,1559,...,17,13,3,0,0,1,0,0,1,0
13,50,1,1,Alabama,Autauga County,1,13,2777,1279,1498,...,9,12,0,2,0,1,0,0,0,0
14,50,1,1,Alabama,Autauga County,1,14,2277,1014,1263,...,10,16,2,0,1,0,0,1,0,0
15,50,1,1,Alabama,Autauga County,1,15,1736,807,929,...,6,7,0,1,0,1,0,0,0,0
16,50,1,1,Alabama,Autauga County,1,16,1251,546,705,...,3,7,0,0,0,0,0,0,0,0
17,50,1,1,Alabama,Autauga County,1,17,731,295,436,...,4,2,0,0,0,0,0,0,0,0
18,50,1,1,Alabama,Autauga County,1,18,551,159,392,...,1,2,0,0,0,0,0,0,0,0
19,50,1,1,Alabama,Autauga County,2,0,54597,26584,28013,...,607,538,57,48,26,32,9,11,19,10
20,50,1,1,Alabama,Autauga County,2,1,3584,1869,1715,...,77,56,9,5,4,1,0,0,2,1
21,50,1,1,Alabama,Autauga County,2,2,3994,2004,1990,...,64,66,2,3,2,7,2,3,2,0
22,50,1,1,Alabama,Autauga County,2,3,4294,2173,2121,...,51,57,13,7,5,5,2,1,1,1
23,50,1,1,Alabama,Autauga County,2,4,4292,2214,2078,...,48,44,7,5,0,2,2,1,3,1
24,50,1,1,Alabama,Autauga County,2,5,3080,1539,1541,...,62,34,2,4,2,3,0,1,1,1

<h2>Cleaning Data</h2>
<p>description</p>

<h3>Cleaning COVID-19 cases</h3>
<p>description</p>

In [33]:
cleaner.clean_cases()
cleaned_cases = pd.read_csv(cleaner.CLEANED_CASES_SRC)
cleaned_cases.head(ROW_LIMIT)

    fips    state     county    cases
0   1001  Alabama    Autauga   190186
1   1003  Alabama    Baldwin   769622
2   1005  Alabama    Barbour   109737
3   1007  Alabama       Bibb   680237
4   1009  Alabama     Blount   391550
5   1011  Alabama    Bullock    76706
6   1013  Alabama     Butler  1126713
7   1015  Alabama    Calhoun   818535
8   1017  Alabama   Chambers   299587
9   1019  Alabama   Cherokee  1165716
10  1021  Alabama    Chilton   149516
11  1023  Alabama    Choctaw   104721
12  1025  Alabama     Clarke   686362
13  1027  Alabama       Clay  1258566
14  1029  Alabama   Cleburne    74011
15  1031  Alabama     Coffee   494059
16  1033  Alabama    Colbert   180074
17  1035  Alabama    Conecuh    58977
18  1037  Alabama      Coosa    19847
19  1039  Alabama  Covington   241372
20  1041  Alabama   Crenshaw    56075
21  1043  Alabama    Cullman   203765
22  1045  Alabama       Dale   141735
23  1047  Alabama     Dallas  9872291
24  1049  Alabama     DeKalb  2797014

<h3>Cleaning political party affiliations</h3>
<p>description</p>

In [34]:
cleaner.clean_party()
cleaned_party = pd.read_csv(cleaner.CLEANED_PARTY_SRC)
cleaned_party.head(ROW_LIMIT)

    fips    state     county political_affiliation
0   1001  Alabama    Autauga            republican
1   1003  Alabama    Baldwin            republican
2   1005  Alabama    Barbour            republican
3   1007  Alabama       Bibb            republican
4   1009  Alabama     Blount            republican
5   1011  Alabama    Bullock              democrat
6   1013  Alabama     Butler            republican
7   1015  Alabama    Calhoun            republican
8   1017  Alabama   Chambers            republican
9   1019  Alabama   Cherokee            republican
10  1021  Alabama    Chilton            republican
11  1023  Alabama    Choctaw            republican
12  1025  Alabama     Clarke            republican
13  1027  Alabama       Clay            republican
14  1029  Alabama   Cleburne            republican
15  1031  Alabama     Coffee            republican
16  1033  Alabama    Colbert            republican
17  1035  Alabama    Conecuh            republican
18  1037  Alabama      Coosa            republican
19  1039  Alabama  Covington            republican
20  1041  Alabama   Crenshaw            republican
21  1043  Alabama    Cullman            republican
22  1045  Alabama       Dale            republican
23  1047  Alabama     Dallas              democrat
24  1049  Alabama     DeKalb            republican

<h3>Cleaning demographics</h3>
<p>description</p>

In [35]:
cleaner.clean_dems()
cleaned_dems= pd.read_csv(cleaner.CLEANED_DEMS_SRC)
cleaned_dems.head(ROW_LIMIT)

,fips,state,county,male,female,white_male,white_female,black_male,black_female,hispanic_male,hispanic_female,asian_male,asian_female
0,1001,Alabama,Autauga County,8744,9004,6588,6650,1832,2037,323,258,133,148
1,1003,Alabama,Baldwin County,29564,30286,25096,25746,3427,3347,1915,1599,342,496
2,1005,Alabama,Barbour County,5098,3339,2261,1455,2697,1810,309,159,22,18
3,1007,Alabama,Bibb County,4545,3232,2896,2566,1586,622,175,103,9,3
4,1009,Alabama,Blount County,8606,8544,8277,8230,178,112,1121,888,19,28
5,1011,Alabama,Bullock County,2166,1408,635,271,1462,1077,204,162,4,5
6,1013,Alabama,Butler County,2702,3200,1346,1402,1244,1709,46,36,87,59
7,1015,Alabama,Calhoun County,17806,18606,13289,13376,3968,4586,897,721,163,247
8,1017,Alabama,Chambers County,4903,5162,2655,2656,2043,2367,161,106,128,77
9,1019,Alabama,Cherokee County,3420,3385,3170,3192,173,121,76,57,7,8
10,1021,Alabama,Chilton County,6779,6839,5855,5866,746,813,761,556,44,50
11,1023,Alabama,Choctaw County,1657,1809,955,1001,687,789,20,17,3,7
12,1025,Alabama,Clarke County,3317,3692,1673,1766,1587,1853,52,51,19,19
13,1027,Alabama,Clay County,1832,1960,1505,1620,290,296,81,71,3,8
14,1029,Alabama,Cleburne County,2145,2104,2047,2005,62,67,74,44,2,4
15,1031,Alabama,Coffee County,8143,7983,6146,5843,1495,1608,763,652,110,179
16,1033,Alabama,Colbert County,7971,8154,6422,6435,1324,1464,324,203,41,64
17,1035,Alabama,Conecuh County,1645,1744,785,778,825,936,64,43,3,5
18,1037,Alabama,Coosa County,1510,1364,940,891,535,439,59,42,2,5
19,1039,Alabama,Covington County,5146,5387,4306,4432,726,833,99,95,28,31
20,1041,Alabama,Crenshaw County,1963,2048,1416,1407,477,558,50,27,28,39
21,1043,Alabama,Cullman County,12716,12375,12128,11881,235,156,750,594,98,118
22,1045,Alabama,Dale County,8349,7936,6318,5633,1673,1883,698,644,103,149
23,1047,Alabama,Dallas County,5276,6494,1289,1410,3879,4987,78,56,46,42
24,1049,Alabama,DeKalb County,10958,10721,9998,9880,244,188,2031,1759,118,49

<h3>Joining cleaned data</h3>
<p>description</p>

In [36]:
cleaner.finalize()
cleaned_data = pd.read_csv(cleaner.FINAL_SRC)
cleaned_data.head(ROW_LIMIT)

,FIPS,state,county,male,female,white_male,white_female,black_male,black_female,hispanic_male,hispanic_female,asian_male,asian_female,cases,political_affiliation
0,1001,Alabama,Autauga County,8744,9004,6588,6650,1832,2037,323,258,133,148,190186,republican
1,1003,Alabama,Baldwin County,29564,30286,25096,25746,3427,3347,1915,1599,342,496,769622,republican
2,1005,Alabama,Barbour County,5098,3339,2261,1455,2697,1810,309,159,22,18,109737,republican
3,1007,Alabama,Bibb County,4545,3232,2896,2566,1586,622,175,103,9,3,680237,republican
4,1009,Alabama,Blount County,8606,8544,8277,8230,178,112,1121,888,19,28,391550,republican
5,1011,Alabama,Bullock County,2166,1408,635,271,1462,1077,204,162,4,5,76706,democrat
6,1013,Alabama,Butler County,2702,3200,1346,1402,1244,1709,46,36,87,59,1126713,republican
7,1015,Alabama,Calhoun County,17806,18606,13289,13376,3968,4586,897,721,163,247,818535,republican
8,1017,Alabama,Chambers County,4903,5162,2655,2656,2043,2367,161,106,128,77,299587,republican
9,1019,Alabama,Cherokee County,3420,3385,3170,3192,173,121,76,57,7,8,1165716,republican
10,1021,Alabama,Chilton County,6779,6839,5855,5866,746,813,761,556,44,50,149516,republican
11,1023,Alabama,Choctaw County,1657,1809,955,1001,687,789,20,17,3,7,104721,republican
12,1025,Alabama,Clarke County,3317,3692,1673,1766,1587,1853,52,51,19,19,686362,republican
13,1027,Alabama,Clay County,1832,1960,1505,1620,290,296,81,71,3,8,1258566,republican
14,1029,Alabama,Cleburne County,2145,2104,2047,2005,62,67,74,44,2,4,74011,republican
15,1031,Alabama,Coffee County,8143,7983,6146,5843,1495,1608,763,652,110,179,494059,republican
16,1033,Alabama,Colbert County,7971,8154,6422,6435,1324,1464,324,203,41,64,180074,republican
17,1035,Alabama,Conecuh County,1645,1744,785,778,825,936,64,43,3,5,58977,republican
18,1037,Alabama,Coosa County,1510,1364,940,891,535,439,59,42,2,5,19847,republican
19,1039,Alabama,Covington County,5146,5387,4306,4432,726,833,99,95,28,31,241372,republican
20,1041,Alabama,Crenshaw County,1963,2048,1416,1407,477,558,50,27,28,39,56075,republican
21,1043,Alabama,Cullman County,12716,12375,12128,11881,235,156,750,594,98,118,203765,republican
22,1045,Alabama,Dale County,8349,7936,6318,5633,1673,1883,698,644,103,149,141735,republican
23,1047,Alabama,Dallas County,5276,6494,1289,1410,3879,4987,78,56,46,42,9872291,democrat
24,1049,Alabama,DeKalb County,10958,10721,9998,9880,244,188,2031,1759,118,49,2797014,republican